<div class="container-fluid">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-top: 20px">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> User name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="sectorId">
      <th mat-header-cell *matHeaderCellDef> Sector Value </th>
      <td mat-cell *matCellDef="let element"> {{element.sector.id}} </td>
    </ng-container>

    <ng-container matColumnDef="sectorName">
      <th mat-header-cell *matHeaderCellDef> Sector Name </th>
      <td mat-cell *matCellDef="let element"> {{element.sector.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row;
        columns: displayedColumns;"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        (click)="onClick(row)"></tr>
  </table>
</div>

